.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 66vh;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.right > p {
    color: black;
}