.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.inputGroup {
    height: 50%;
    width: 200%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.inputLabel {
    text-align: left;
}

.inputField {
    height: 30px;
}

@media screen and (max-width: 1280px) {
}