.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}

.footer__icon {
    margin: 0 0.3rem;
    filter: invert(0.3);
    transition: all .2s ease;
}

.footer__icon:hover {
    transform: scale(1.1);
    filter: invert(0);
}