.footer, .email {
    display: flex;
    flex: 1;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer__icon {
    margin: 0 0.3rem;
    filter: invert(0.3);
    transition: all .2s ease;
}

.email > a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    transition: all .2s ease;
}

.email > a:hover {
    color: #000000;
    transform: scale(1.02);
}

.footer__icon:hover {
    transform: scale(1.1);
    filter: invert(0);
}

@media screen and (max-width: 1280px) {
    .footer {
        justify-content: right;
        margin: 0 2rem;
    }
    .footer__icon > img {
        width: 36px;
        height: 36px;
        margin-left: 0.5rem;
    }
}