.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centerBottom {
    position: absolute;
    left: 30px;
    transform: translateX(-50%) rotate(-90deg);
}

.centerBottom > span {
    font-size: 18px;
    word-spacing: 1rem;
    font-family: Kulim Park, sans-serif;
}