.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centerBottom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.centerBottom > span {
    font-size: 19px;
    word-spacing: 3rem;
    font-family: Kulim Park, sans-serif;
}