.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero > video {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 100% 40%;
}

.centerBottom {
    position: absolute;
    left: 30px;
    transform: translateX(-50%) rotate(-90deg);
}

.centerBottom > span {
    font-size: 18px;
    word-spacing: 1rem;
    font-family: Kulim Park, sans-serif;
    color: white;
}

@media screen and (max-width: 1280px) {
    .hero > video {
        height: 40vh;
    }

    .centerBottom {
        left: 20px;
    }

    .centerBottom > span {
        font-size: 14px;
    }
}