.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 95vw;
    margin: 0 auto;
}

.navbar__logo__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navbar__logo__container:hover {
    transform: scale(1.05);
}

.navbar__logo {
    font-family: 'Lekton', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #414141;
    margin-left: 25px;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar__item {
    margin: 0 0.5rem;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navbar__item:hover {
    background-color: #f2f2f2;
    transform: scale(1.1);
    border-radius: 10px;
}

.navbar__links {
    font-family: Kulim Park, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    color: #414141;
    white-space: nowrap;
}

@media screen and (max-width: 1280px) {
    .navbar__container {
        justify-content: space-around;
    }

    .navbar__logo {
        display: none;
    }

    .navbar__menu {
        margin: 1rem 0;
        padding: 0;
    }

    .navbar__item {
        margin: 0;
        padding: 0.5rem;
    }

    .navbar__links {
        font-size: 14px;
    }
}