.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 95vw;
    margin: 0 auto;
}

.navbar__logo__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-family: 'Lekton', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #414141;
    margin-left: 25px;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar__item {
    margin: 0 0.5rem;
    padding: 2rem;
}

.navbar__links {
    font-family: Kulim Park, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    color: #414141;

}