.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.videosContainer {
    width: 66%;
    margin-top: 40px;
    height: fit-content; /* height given for illustration */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.video {
    margin: 4px;
    flex: 0 1 calc(20% - 8px); /* <-- adjusting for margin */
}

@media screen and (max-width: 1280px) {
    .videosContainer {
        width: 100%;
        flex-direction: column;
        align-items: normal;
        margin-top: 20px;
    }

    .video > iframe {
        width: 100%;
        margin-bottom: 10px;
    }
}